body{
    background-color:rgb(40,40,40);
}
div.beautiful-button{
    position:fixed;
    right:85;
    bottom:110px;
}
button.main-button{
    box-sizing: border-box;
    box-shadow:0 0 5px 3px rgb(24,24,24);
    background-color: deepskyblue;
    -webkit-border-radius:50% 50%;
    -moz-border-radius:50% 50%;
    border-radius:50% 50%;
    border:none;
    width:50px;
    height:50px;
    position:fixed;
    -webkit-transition:-webkit-transform 0.8s;
    -moz-transition:-moz-transform 0.8s;
    transition:transform 0.8s;
    display:block;
    outline:none;
}
button.main-button span{
    font-size:40px;
    line-height:40px;
    position:absolute;
    margin:auto;
    width:40px;
    height:40px;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
button.main-button:after{
    z-index:-1;
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
    content:"";
    background-color:rgb(0, 150, 180);
    display:block;
    padding:25px 25px;
    margin:auto auto;
    position:absolute;
    top:0;
    left:0;
    -webkit-border-radius:50% 50%;
    -moz-border-radius:50% 50%;
    border-radius:50% 50%;
    opacity:0;
}

button.main-button:hover{
    background-color:rgb(20, 211, 255);
}

button.main-button:active{
    background-color:rgb(0, 150, 180);
}

button.main-button:active:after{
    -webkit-transition:0s;
    -moz-transition:0s;
    transition:0s;
    opacity:1;
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    transform:scale(0);
}

button.sub-button{
    position:absolute;
    box-shadow:0 0 5px 3px rgb(24,24,24);
    background-color:greenyellow;
    z-index:-1;
    top:5px;
    left:5px;
    text-align:center;
    font-size:25px;
    padding:0 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    width:40px;
    height:40px;
    -webkit-border-radius:50% 50%;
    -moz-border-radius:50% 50%;
    border-radius:50% 50%;
    border:none;
    outline:none;
    opacity:0;
}

button.sub-button:hover{
    background-color:rgb(200, 255,80);
}

button.sub-button:active{
    background-color:rgb(100, 200,40);
}